.result-table {
    padding: var(--space-medium) var(--space-large);

    &__container {
        display: grid;
        grid-template-columns: auto;
        max-width: 70em;
        margin: 0 auto;
    }
}
