.result-table {
    padding: var(--space-medium) var(--space-large);

    &__container {
        display: grid;
        grid-template-columns: auto;
        max-width: 70em;
        margin: 0 auto;
    }

    &__button {
        display: inline-block;
        padding: .5rem 1rem;
        margin: var(--space-small);
        border-radius: .5em;
        background-color: var(--color-secondary-dark);
        font-size: .75em;
        color: var(--color-primary-light);
        text-decoration: none;
    }
}
