@model EditPageViewModel


<form class="form" method="post">
    <div class="form__field">
        <select class="form__input" required name="TypeId">
            <option class="form__option">Please choose type</option>

            @foreach (var item in Model.Types)
            {
                if (item.Id != Model.Record.TypeId)
                {
                    <option class="form__option" value="@item.Id">@item.Name</option>
                }
            }

        </select>
    </div>
    <div class="form__field">
        <input class="form__input" type="number" step="any" name="CurrentValue" placeholder="value" value="@Model.Record.CurrentValue" />
    </div>
    <div class="form__field">
        <input class="form__input" type="date" name="Date" placeholder="date" value="@Convert.ToDateTime(Model.Record.Date).ToString("yyyy-MM-dd")" />
    </div>
    <div class="form__field">
        <input class="form__input button" type="submit" value="Update" />
    </div>
</form>

