///<reference path="../main.less" />

.button {
    background-color: transparent;
    border-color: @color-grey;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    text-decoration: none;
    padding: .4em .8em;
    text-align: center;
    color: @color-dark-grey;
    transition: all ease-out .3s;

    &:hover {
        text-decoration: inherit;
        cursor: pointer;
    }

    &--red {
        background-color: @color-red--light;
        color: @color-red;
        border-width: 0;

        &:hover {
            background-color: @color-red;
            color: @color-white;
        }
    }

    &--blue {
        background-color: @color-blue--light;
        color: @color-blue;
        border-width: 0;

        &:hover {
            background-color: @color-blue;
            color: @color-white;
        }
    }
}
