///<reference path="../main.less" />

.navbar {
	background-color: @color-secondary--dark;

	&__container {
		.base-container();
		display: flex;
		flex-flow: row wrap;
	}

	&__list {
		&-wrapper {
			flex: 1 1 0;
			display: flex;
			justify-content: flex-end;
		}

		&-item {
			padding: .5em;
		}
	}

	&__logo {
		&-wrapper {
			color: white;

			* {
				color: white;
			}
		}
	}

}
