@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "List";
}

@{
    var db = new DBmanager();

    var table = new WebGrid(source: db.ReadData(), rowsPerPage: 10);
}


<section class="result-table">
    <div class="result-table__container">
        <h1 class="result-table__title">All jobs</h1>

        @table.GetHtml(tableStyle: "result-table__grid grid",
         headerStyle: "grid__head",
         alternatingRowStyle: "alt",
         columns: table.Columns(
            table.Column(format: @<a href="~/EditJob?id=@item.JobId" class="result-table__button">Edit</a>),
            table.Column("JobTitle"),
            table.Column("JobSalary"),
            table.Column("JobEnglish"),
            table.Column("JobCategory"),
            table.Column("JobField"),
            table.Column("JobEducation")
            )
        )
    </div>
</section>