@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "List";
}

@{
    var jobConnect = new JobRepository();

    var table = new WebGrid(source: jobConnect.FindAllFormated(), rowsPerPage: 10);
}


<section class="result-table">
    <div class="result-table__container">
        <h1 class="result-table__title">All jobs</h1>

        @table.GetHtml(tableStyle: "result-table__grid grid",
         headerStyle: "grid__head",
         alternatingRowStyle: "alt",
         columns: table.Columns(
            table.Column(format: @<a title="Open edit page" href="~/EditJob?id=@item.Id" class="result-table__button result-table__button--close">Edit</a>),
            table.Column("Title"),
            table.Column("Salary"),
            table.Column("English"),
            table.Column("CategoryTitle"),
            table.Column("FieldTitle"),
            table.Column("Education"),
            table.Column(format: @<a title="Remove Job" href="~/DeleteJob?id=@item.Id" class="result-table__button result-table__button--delete">X</a>)
            )
        )
    </div>
</section>